/*div a*/
#a {
    border-color: blueviolet;
    box-shadow: 1rem 1rem 0.8rem red;
}

/*div b*/
#b {
    border-color: lawngreen;
    box-shadow: inset 0.8rem 0.8rem 0.5rem black;
}

/*div c*/
#c {
    border-color: orange;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.7rem blue, 0 0 0 1.4rem red, 0 0 0 1.9rem green;
}

/*div d*/
#d {
    border-color: red;
    text-shadow: 0.3rem 0.3rem 0.1rem black;
    
}
